@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

h1 {
    font-size: 20px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.header {
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.navigation li {
    padding: 0 15px;
}

.navigation-link {
    text-decoration: none;
    transition: opacity 1s ease-in-out;
    color: rebeccapurple;
    opacity: 0.5;  
}

.navigation-link:hover {
    opacity: 1;
}

.decorated {
    position: relative;
}

.decorated:after {
    content: '';
    height: 1px;
    background-color: rgb(138, 135, 135);
    position: absolute;
    bottom: -5px;
    left: -8px;
    width: 0;
    transition: width .4s ease-in-out;
}

.decorated:hover::after {
    width: calc(100% + 8px);
}

[type="checkbox"] {
   width: 0;
   height: 0;
    position: relative;
}

[type="checkbox"]:after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: violet;
    border: 3px dotted black;
    border-radius: 50%;
    box-shadow: 10px 5px 5px antiquewhite;
    display: block;
    position: absolute;
}


[type="checkbox"]:checked:after {
    text-align: center;
    content: "$";
}

.test {
    width: 300px;
    height: 200px;
    border: 2px solid green;
    position: relative;
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.center {
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: red;
}